<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    {{link-to appName 'index' class="navbar-brand"}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          {{link-to 'Products' 'products.index' class="nav-link"}}
        </li>
        <li class="nav-item">
          {{link-to 'Categories' 'categories.index' class="nav-link"}}
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{outlet}}
      </div>
    </div>
  </div>
</main>

{{!-- <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> --}}